body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
}

p.big {
  font-size: 1.3rem;
  max-width: 650px;
}

a {
  text-decoration: none;
  color: coral;
  font-weight: bold;
}

button {
  margin-top: 2rem;
  background-color: coral;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 1rem 2rem;
  font-weight: bold;
}

button:hover {
  background-color: rgb(228, 92, 38);
}

button:active {
  background-color: rgb(136, 50, 19);
  color: whitesmoke;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1.5rem;
  max-width: 650px;
}

input {
  min-width: 220px;
  min-height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}

input:invalid {
}

.forminput {
  display: flex;
  margin-right: 4rem;
  gap: 2px;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

img {
  display: inline;
  width: 10vh;
  height: 12vh;
  text-align: center;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.212);
  width: 100%;
  padding: 1rem 0;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.logo {
  flex-basis: 33%;
  flex-shrink: 0.5;
  height: 100vh;
  background-color: coral;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main {
  flex-basis: 66%;
  padding: 8rem 4rem;
}

.signupform {
  background-color: white;
  padding: 2rem 4rem;
  margin-left: -4rem;
  width: 100%;
}

.signupform p {
  font-size: large;
}

.logo p {
  color: white;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
